<!DOCTYPE html>
html
  head
    title Node.js and Angular 2
    script(src="/libs/core-js/client/shim.min.js")

    script(src="/libs/zone.js/dist/zone.js")
    script(src="/libs/reflect-metadata/Reflect.js")
    script(src="/libs/systemjs/dist/system.src.js")

    script(src="/static/systemjs.config.js")
    script
      | System.import('app').catch(function(err){ console.error(err); });
    base(href="/")
  body
    my-app
        Loading AppComponent content here ...